/*--------------------------------------------------------------------*/
/*In this section we will convert all the PX to REM*/
/*--------------------------------------------------------------------*/


/*Let us remove all the margins and paddings that are automatically adding on all elements using the universal selector*/
*, *::after,*::before {
	margin: 0;
	padding: 0;
	/*this will include the size of the content + plus any margin and */
	box-sizing: inherit;
}

html {
	/*now one rem is exactly equal to 10 pixels*/
	font-size: 62.5%; //1 rem = 10px ; 10px/16ox = 62.5%
	scroll-behavior: smooth;

	@include respond(tab-land) {
		// width < 1200px?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
	}

	@include respond(tab-port) {
		// width < 900px?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1 rem = 12px, 12/16 = 75%
	}
}

/*something like font will be inherieted from here. So font will go here*/
/*The font family will be inherieted by all the children of the body element*/
/*Everything related to font goes in the body*/
body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-port) {
		// remove padding on small screens
		padding: 0;
	}
}